.companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $font-size-default;
    scroll-margin-top: 12rem;
    
    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        @include respond(phone) {
            flex-direction: column;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 2rem;
            }
            
            @include respond(phone) {
                flex-direction: column;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                    margin-right: 0;
                }
            }
        }
    }

    &__img{
            width: 18rem;
            border-radius: 1.5rem;
    }
}