.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 4rem;
    right: 35rem;
    font-size: $font-size-default;
    @include animation-show-up;

    h1 {
        cursor: default;
    }

    @include respond(tab-land) {
        top: 2rem;
        right: 18rem;
    }
    @include respond(tab-port) {
        top: 2rem;
        right: 5rem;
    }
    @include respond(phone) {
        top: 3rem;
        right: 0.5rem;
        font-size: $font-size-default-phone;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;


        li {
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &__img {
        width: 3rem;
        height: 3rem;
        fill: $color-white-1;
    }
}