.following-eyes {
  width: 12rem;
  height: 12rem;
  position: relative;
  background-color: #dfdf27;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 7rem;
    width: 8rem;
    height: 4rem;
    background-color: #d67922;
    border-bottom-left-radius: 7rem;
    border-bottom-right-radius: 7rem;
    transition: 0.5s;
  }

  &:hover::before {
    top: 7rem;
    width: 8rem;
    height: 2rem;
    background-color: #d67922;
    border-radius: 1rem;
  }

  .eyes {
    display: flex;
    position: relative;
    top: -2rem;

    .eye {
      width: 4rem;
      height: 4rem;
      background: #fff;
      display: inline-block;
      margin: 0 0.5rem;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
    }

    .ball {
      width: 3rem;
      height: 3rem;
      background: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 7px solid $color-primary-dark;
    }
  }
}

.light {
  .following-eyes {
    .ball {
      border: 7px solid $light-color-secondary;
    }
  }
}
