.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 11rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-black-3;
    @include animation-show-up;
}