.latest-works {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // scroll-margin-top: 20vh;

    .description {
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-size: $font-size-default;
    }
    
    .dev-description {
        font-size: $font-size-default;
        margin-bottom: 2rem;
    }

    .applications-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: unset;
        
        @include respond(tab-port) {
            flex-wrap: wrap;
        }
    }
}