//Color
$color-primary:#03DAC5;
$color-primary-light: #2cffea;
$color-primary-dark: #0e9b8d;

$color-secondary: #BB86F6;
$color-secondary-light: #d8b6fd;
$color-secondary-dark: #9039f3;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #2374be;

$color-black-1: #282c34;
$color-white-1: #fff;

$color-grey-light-1: #eee;
$color-grey-light-2: #bbb;

$color-grey-dark-1: #777;
$color-grey-dark-2: #333;
$color-grey-dark-3: #333;

//Font
$font-size-small: 1.5rem;
$font-size-default: 1.6rem;
$font-size-big: 4rem;

$font-size-default-phone: 1.2rem;