$color-primary: #03dac5;
$color-primary-light: #2cffea;
$color-primary-dark: #127168;

$color-secondary: #298deb;
$color-secondary-light: #44a5ff;
$color-secondary-dark: #226db3;

$color-container: #1c2128;
