$light-color-primary: #add8e6;
$light-color-primary-dark: #b6a6d1;

$light-color-secondary: #298deb;
$light-color-secondary-light: #44a5ff;
$light-color-secondary-dark: #226db3;

$light-color-container: #f8f8f8;
